<div class="face-snap-card" [ngClass]="{ snapped: buttonText === 'Oops, un Snap!' }">
    <h2>{{ faceSnap.title | uppercase }}  </h2>
    <a routerLink="/facesnaps">Back</a>
    <p>Mis en ligne {{faceSnap.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>
    <!-- <img src="{{ imageUrl }}" alt="{{ title }}"> pas toujours de string utiliser; exple:image.jpg -->
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
    <p> 
        <button (click)="onSnap()"> {{buttonText}} </button>
        <span [ngStyle]="{ color:'rgb(0,'+ faceSnap.snaps + ',0)' }">🤌 {{ faceSnap.snaps }}</span>
    </p>
<div>