<div class="face-snap-card" [ngClass]="{ snapped: buttonText === 'Oops, un Snap!' }">
    <h2>{{ faceSnap.title | uppercase }}  </h2>
    <p>{{ faceSnap.description }}</p>
    <button (click)="onViewFaceSnap()">VIEW</button>
<div>